doctype html
html
  head
    meta(charset='utf-8')
    meta(name="viewport", content="width=device-width, initial-scale=1")
    title Test page for the img-lightbox component (no shadow DOM)
    style.
      /* General styles */
      * {
        box-sizing: border-box;
      }
      body {
        font-family: sans-serif;
      }

      /* Progressive enhancement & component styles */
      img-lightbox {
        display: inline-block;
        cursor: pointer;
        border: 1px solid #333;
        box-shadow: 0px 0px 4px rgba(0,0,0,0.6);
      }
      @keyframes lightbox-loader {
        0% {transform: rotate(0deg);}
        100% {transform: rotate(360deg);}
      }

      /* Quick hacks to help me debug things */
      .big-div {
        height: 250vh;
        background-color: silver;
      }
  
  body
    include ../shared/testpage.html